* {
  margin: 0;
  padding: 0;
}
header {
  top: 0;
  position: sticky;
}
.nav-header {
  background-color: #272626;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.image-1 {
  width: 150px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
/* banner section */
.main-banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background.png),
    linear-gradient(rgb(8, 8, 8), rgb(53, 53, 53));
  background-position: center;
  justify-content: center;
  color: white;
  align-items: center;
  display: flex;
  gap: 100px;
}
.image-2 {
  width: 271px;
  height: 300px;
}
.banner-title {
  font-size: 55px;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 19px;
  margin-bottom: 20px;
}
.btn-primary {
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(74, 81, 81);
  color: rgb(241, 241, 241);
}
/* about us section */
.all-about {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  gap: 100px;
  justify-content: center;
}
.about-info {
  width: 50%;
}
.about-info-title {
  font-size: 35px;
  width: 70%;
  margin-bottom: 20px;
}
.about-us {
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  margin-top: 60px;
}
.image-3 {
  height: 300px;
  width: 317px;
}
.btn-second {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
